<!--
  Generated template for the RecipesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recipes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        Item
      </ion-item>
      <ion-item-options>
        <button (click)="bukaDetails()" ion-button color="primary">
          <ion-icon name="paper"></ion-icon>
          Details
        </button>
        <button (click)="bukaAlarm()" ion-button color="danger">
          <ion-icon name="alarm"></ion-icon>
          Alarm
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
