<!--
  Generated template for the AlarmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alarm</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">
  <ion-item>
        <ion-label>Date today</ion-label>
        <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate2">
        </ion-datetime>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="DDDD DD MMM YYYY" pickerFormat="MMM DD YYYY" min="2016" max="2020-10-31" [(ngModel)]="myDate"
      monthNames="january,february,march,april,may,june,july,august,september,october,november,december"
      monthShortNames="Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec"
      dayNames="Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday">
    </ion-datetime>
  </ion-item>
</ion-content>
