<!--
  Generated template for the MedicinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Medicine Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>{{ medicine.name }}</h4>
      </ion-col>
    </ion-row>
    <ion-row>

    </ion-row>
  </ion-grid>
  <div>
    <ion-segment [(ngModel)]="details">
      <ion-segment-button value="summary">
        Summary
      </ion-segment-button>
      <ion-segment-button value="side_effect">
        Side Effect
      </ion-segment-button>
    </ion-segment>
  </div>
    
  <div [ngSwitch]="details">
    <ion-grid>
      <p *ngSwitchCase="'summary'">{{ medicine.summary }}</p>
      <p *ngSwitchCase="'side_effect'">{{ medicine.side_effect }}</p>
    </ion-grid>
  </div>
<button ion-button (click)="close()">Return</button>
</ion-content>
